@font-face {
  font-family: "Ozymandias";
  src: url("../fonts/Ozymandias.woff2") format("woff2");
  font-style: normal;
}

h1 {
  font-family: "Ozymandias", "Arial";
  font-size: 300px;
  color: white;
}

p {
  color: white;
}

body {
  background-color: black;
}
